.page {
}
.header {
}
.header_container {
    background-color: black;
    color: white;
}
.content {
}
.content_container {
}
.image {
}
.image_container {
}
.menu {
}
.menu_container {
}
.early {
}
.sectiontText {
    background-color: black;
    color: white;
}
.career {
}
.contest {
}
.links {
}
.footer {
}
.footer_container {
}
.copyright {
}